
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #eee;
    display: grid;
    grid-template: 'canvas settings' 1fr/ 700px 1fr;
}

#canvas {
    grid-area: canvas;
}

.settings {
    grid-area: settings;
    background-color: #fbf1d3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header {
    background-color: #D80;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.switch {
    margin-left: 30px;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    /*left: 4px;*/
    /*bottom: 4px;*/
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.drag-n-drop span{
    color: rebeccapurple;
    font-weight: 700;
    font-size: 18px;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

header h1 {
    color: #eee;
    font-family: Din Alternate, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 24px;
    margin-right: 80px;
}


header a {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #eee;
    font-family: Din Alternate, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-decoration: none;
}

header a:hover, header a:active {
    text-decoration: underline;
}

.get-object {
    margin-bottom: 20px;
}

.button {
    cursor: pointer;
    background-color: #20c997;
    border: none;
    width: 120px;
    height: 30px;
    font-weight: 500;
    transition: all 0.5s ease;
    border-radius: 50rem !important;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    outline: none;
    font-size: 1rem;
    line-height: 1.5;
}

.button:hover {

    background-color: #1ba77e;
}

.button:active {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.30);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.input-number {
    width: 150px;
    height: 30px;
    outline: none;
    border: none;
    font-size: 16px;
    color: #656565;
    margin-right: 5px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    padding-left: 7px;
}

.input-number:active, .input-number:focus {
    border: 1px solid dodgerblue;
}

.set-object {
    margin-bottom: 20px;
}

.update-object {
    margin-bottom: 20px;
}

.rotate-object {
    height: 240px;
    margin-bottom: 20px;
    display: grid;
    grid-template: 'rotateInputs rotateButton' 1fr/ 1fr 1fr;
}

.rotate-object__inputs-wrapper {
    grid-area: rotateInputs;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.rotate-object__btn-wrapper {
    grid-area: rotateButton;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rotate-object-btn {
    margin-right: 10px;
}

#angle-select {
    cursor: pointer;
}

.error-alert {
    margin-top: 15px;
    padding: 15px;
    /*border: 1px solid #d6e9c6;*/
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    /*color: #3c763d;*/
    color: red;
    /*background-color: #dff0d8;*/
    background-color: #f8d7da;
}

.success-alert {
    margin-top: 30px;
    padding: 15px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    color: #3c763d;
    /*background-color: #dff0d8;*/
    background-color: #a0d08a;
}

.local-storage {
    margin-bottom: 20px;
}

#save-to-ls {
    cursor: pointer;
    width: 200px;
    height: 30px;
    margin-right: 15px;
    background-color: mediumvioletred;
}

#clear-ls {
    cursor: pointer;
    width: 200px;
    height: 30px;
    background-color: mediumvioletred;
}


#save-to-ls:hover {
    background-color: darkorchid;
}

#clear-ls:hover {
    background-color: darkorchid;
}



/*# sourceMappingURL=bundle.css.map*/